
.navbar {

        background-color:black;


        }



.navbar ul {

        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }

.navbar  li {
         float: left;
    }

.navbar  li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Change the link color to #111 (black) on hover */
.navbar   li a:hover {
        background-color: olive;
    }

body {
  background-image: url("img/azieAvond.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  color: White;
  font-family: sans-serif;
}



/*
.container {
    position: relative;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}
*/
